* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.main-class {
  min-height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.data {
  text-align: center;
}

.data h1 {
  color: #eb445a;
  margin-bottom: 20px;
  font-size: 50px;
}

form input,
form button {
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 1.6rem;
}

form input {
  width: 50%;
  border-radius: 5px 20px 5px;
  margin-right: 5px;
}

form button {
  border-radius: 5px 20px 5px;
  background-color: #eb445a;
  cursor: pointer;
}

.lyrics {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding: 3rem 0;
}

.songs-list {
  width: 70%;
  list-style: none;
  margin: 0 auto;
  padding: 2rem 0;
}

.songs-list li {
  font-size: 1.4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.songs-list li span {
  font-size: 1.4rem;
  background-color: #eb445a;
  padding: 5px;
  margin: 5px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
